

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.main{
background-color:rgb(5, 251, 251);
height:100%;
width:100%;
margin:0px;
padding:0px;
position:fixed;
}
#grad {
  background-image: linear-gradient(to bottom right, #EE0979, #FF6A00);
}
.container{

height:450px;
width:450px;
margin-top: 205px;
margin-left: 700px;
position:fixed;
border-radius:15px;


}
#grad1 {
    background-image: linear-gradient(to bottom right, #00F260, #0575E6);
}
.form1{
    margin-top:20px;
    margin-left:70px;
    font-size: 20px;
   font-weight: bold;  
 
}
.label {
    color: white;
    padding: 5px;
  }
 
    
      
      
    .container .register {
        font-size:19px;
        font-weight: 6px;
    

    }
      .register
      {
       margin-top:10%;
        margin-left:65px;
        color: #fff;
      }
    .container .signin {

        font-size:19px;
        font-weight: 6px;
    }
    .signin{
        margin-top:-5%;
        margin-left:70%;
        color: #fff;
    }
   .button {
    margin-left:35%;
    
   }
    .signin{
      font-color: #fff;
    }
  